.menu {
  width: 400px;
  height: 550px;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  background-color: #f0f0f0;
  margin: 20px;
  position: relative;
}

.menuContent {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 30px;
}
.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

button {
  width: 60%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #1900ff;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #1700e1;
}
